<nz-layout class="layout">
  <nz-sider *ngIf="!(isHandset$ | async)" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="card">
      <div class="image-container">
        <div class="image-preview">
          <div
            *ngIf="user.image_url != null"
            [style.backgroundImage]="'url(' + user.image_url + ')'"
          ></div>
          <i
            *ngIf="user.image_url == null"
            class="photo-icon"
            nz-icon
            [nzType]="'camera'"
            [nzTheme]="'outline'"
          ></i>
        </div>
      </div>

      <h1 class="margin-top">{{ user.name }} {{ user.surname }}</h1>
      <p class="description">{{ user.title }}</p>

      <div class="margin-top">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <li nz-menu-item (click)="logout()">
        <span>
          <i nz-icon [nzType]="'logout'" [nzTheme]="'outline'"></i>
          <span class="nav-text">Çıkış</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <div class="logo-container">
        <img class="logo" src="https://www.magistum.com/img/magistum-logo.png" />
      </div>
    </nz-header>
    <nz-content class="sidebar-container">
      <div class="sidebar-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-tab-bar *ngIf="isHandset$ | async" class="tab-bar"></app-tab-bar>
  </nz-layout>
</nz-layout>
