<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Anasayfa</mat-toolbar>

    <div class="card">
      <div class="image-container">
        <div class="image-preview">
          <div *ngIf="photo != null" [style.backgroundImage]="'url(' + photo + ')'"></div>
          <mat-icon *ngIf="photo == null" class="photo-icon">photo_camera</mat-icon>
        </div>
      </div>
      
      <h1 class="margin-top">Yıldız Mamak</h1>
      <p class="description">Sınıf Öğretmeni</p>

      <div class="margin-top">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
    <mat-nav-list>
      <mat-list-item (click)="logout()">
        <mat-icon matListIcon>login</mat-icon>
        <a matLine>Çıkış</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="logo-container">
        <img class="logo" src="https://www.magistum.com/img/magistum-logo.png" />
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
