<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Anasayfa</mat-toolbar>

    <div class="card">
      <div class="image-container">
        <div class="image-preview">
          <div *ngIf="user.image_url != null" [style.backgroundImage]="'url(' + user.image_url + ')'"></div>
          <mat-icon *ngIf="user.image_url == null" class="photo-icon">photo_camera</mat-icon>
        </div>
      </div>

      <h1 class="margin-top">{{ user.name }} {{ user.surname }}</h1>
      <p class="description">{{ user.title }}</p>

      <div class="margin-top">
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
    <mat-nav-list>
      <mat-list-item (click)="logout()">
        <mat-icon matListIcon>login</mat-icon>
        <a matLine>Çıkış</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div class="logo-container">
        <img class="logo" src="https://www.magistum.com/img/magistum-logo.png" />
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->

<nz-layout>
  <nz-sider
    *ngIf="!(isHandset$ | async)"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzBreakpoint]="'lg'"
  >
    <div class="sider-logo"></div>

    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span>
          <i nz-icon [nzType]="'video-camera'" [nzTheme]="'outline'"></i>
          <span class="nav-text">Profil</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i nz-icon [nzType]="'video-camera'" [nzTheme]="'outline'"></i>
          <span class="nav-text">Dosyalar</span>
        </span>
      </li>
      <li nz-menu-item>
        <span>
          <i nz-icon [nzType]="'logout'" [nzTheme]="'outline'"></i>
          <span class="nav-text">Çıkış</span>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <div class="logo-container">
        <img class="logo" src="https://www.magistum.com/img/magistum-logo.png" />
      </div>
    </nz-header>
    <nz-content class="sidebar-container">
      <div class="sidebar-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-tab-bar *ngIf="isHandset$ | async" class="tab-bar"></app-tab-bar>
  </nz-layout>
</nz-layout>
