<nz-table
  #fixedTable
  [nzData]="dataSource"
  [nzScroll]="{ x: '500px', y: 'null' }"
  [nzShowPagination]="false"
  [nzPageSize]="pageSize"
>
  <thead>
    <tr>
      <th>Oluşturulma Zamanı</th>
      <th>Dosya Adı</th>
      <th>Dosya Tipi</th>
      <th>Url Bilgisi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data" (click)="openDocumentDialog(data)">
      <td>{{ data.created_at | date: 'dd / MM / yyyy' }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.type }}</td>
      <td class="mat-row-link">{{ data.url }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination
  [nzSize]="'small'"
  [nzPageIndex]="1"
  class="pagination"
  [nzTotal]="length"
  [nzPageSize]="pageSize"
  [nzShowSizeChanger]="true"
  [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
  (nzPageSizeChange)="nzPageSizeChange($event)"
  (nzPageIndexChange)="nzPageIndexChange($event)"
  [nzShowTotal]="length"
></nz-pagination>
