/* Libs Import */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

/* Variables Import */
@import './assets/styles/variables.scss';

/* Mixins Import */
@import './assets/styles/mixins.scss';

/* Custom Styles Import */
@import './assets/styles/custom-reset.scss';
@import './assets/styles/layout.scss';
@import './assets/styles/component.scss';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.loading-screen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  background-color: white;
  background-image: url('./assets/images/page-loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  @include transition(all 0.3s ease-in-out);
  opacity: 0;
  z-index: 999999;
}
.loading-screen.show {
  opacity: 0.8;
}
