.centered-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.null-padding {
  padding-right: 0;
  padding-left: 0;
}

.snackBar {
  background: #2e4486;
  color: white;
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button {
    color: white;
  }
}
