.none {
  display: none !important;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

small,
.small {
  font-size: 81%;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mb17 {
  margin-bottom: 17px;
}

.ml15 {
  margin-left: 15px !important;
}

strong {
  font-weight: 800;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  //color: $color-mine-shaft;
}

input[type='text']::-ms-clear {
  display: none;
}
