/* Screen Dimensions*/
$screen-xs: 320px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-md: 1024px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-lg: 1366px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-xlg: 1600px;
$screen-xlg-min: $screen-xlg;
$screen-xlg-desktop: $screen-xlg-min;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$screen-phone-max: ($screen-sm-min - 1);
$screen-tablet-max: ($screen-md-min - 1);
$screen-desktop-max: ($screen-lg-min - 1);
$screen-l-desktop-max: ($screen-xlg-min - 1);

/* Font Sizes */
$default-page-font: 13px;

/* Color Variables */
$color-blue-charcoal: rgba(2, 21, 41, 1); // #021529

/* Element Dimensions */
$sidebar-width: 250px;
$sidebar-mobile-width: 100%;

/* Effects */
$cubicEffect: cubic-bezier(0.05, 0.74, 0.27, 0.99);
